<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Bootstrap core CSS -->
    <link href="/docs/4.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

   <!-- Favicons -->
<!--<link rel="apple-touch-icon" href="/docs/4.5/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/4.5/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/4.5/assets/img/favicons/safari-pinned-tab.svg" color="#563d7c">
<link rel="icon" href="/docs/4.5/assets/img/favicons/favicon.ico">
<meta name="msapplication-config" content="/docs/4.5/assets/img/favicons/browserconfig.xml">
<meta name="theme-color" content="#563d7c">!-->


   <style>
     .bd-placeholder-img {
       font-size: 1.125rem;
       text-anchor: middle;
       -webkit-user-select: none;
       -moz-user-select: none;
       -ms-user-select: none;
       user-select: none;
     }

     @media (min-width: 768px) {
       .bd-placeholder-img-lg {
         font-size: 3.5rem;
       }
     }

     .image-preview{
       height:265px;
       width:425px;



       display: flex;
       align-items: center;
       justify-content: center;
       font-weight: bold;
       color: #cccccc;
     }

     .image-preview__image{
       display: none;
       width: 100%;
     }
   </style>
   <!-- Custom styles for this template -->
   <link href="css/delivary.css" rel="stylesheet">
    <title>Delivary Boy</title>
</head>
  <body onload="generateID()">

  <div class="container" style="padding-top:50px; padding-bottom:10px; ">
    <div class="row" style="text-align:center; padding-bottom:10px;">
      <h1 style="text-align: center;">Add Delivory Boy </h1>
    </div>
    <div class="row">
      <div class="col-lg-6">

                 <label for="text" class="label">Batch Id:</label>
                 <input type="tel" id="batch" class="form-control" name="batchNumber" placeholder="Batch Id"  disabled required>

                 <label for="text" class="label" >First Name:</label>
                 <input type="text" id="firstName" class="form-control" name="supervisor" placeholder="First Name"  required>

                 <label for="text" class="label" >Last Name:</label>
                 <input type="text" id="lastName" class="form-control" name="supervisor" placeholder="Last Name"  required>

                 


      </div>
      <div class="col-lg-6">
                 

                 <label for="text" class="label" >Email:</label>
                 <input type="email" id="email" class="form-control" name="supervisor" placeholder="Email" required>

                 <label for="text" class="label" >Phone Number:</label>
                 <input type="tel" id="phone" class="form-control" name="supervisor" placeholder="Phone Number"  required>
                 
      

      
      </div>
       </div class="row">
      
              <button  style="width:100px; height:54px; margin-top:10px;" class="btn  btn-primary btn-block float-right" id="btn" type="submit" onclick="pushData();">Add People</button>
              
          </div>

    </div>
  </div>



      <!-- The core Firebase JS SDK is always required and must be listed first -->
   <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>

   <!-- TODO: Add SDKs for Firebase products that you want to use
   https://firebase.google.com/docs/web/setup#available-libraries -->
   <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-analytics.js"></script>

   <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-firestore.js"></script>
   <!--storage!-->
   <script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-storage.js"></script>



<script  src="https://www.gstatic.com/firebasejs/7.15.0/firebase-auth.js"></script>


<script>

 // Your web app's Firebase configuration
 var firebaseConfig = {
   apiKey: "AIzaSyDZE3W_s78o0kSnVEKc-E4_NmG2qHYBC_8",
   authDomain: "f-2-b-4731b.firebaseapp.com",
   databaseURL: "https://f-2-b-4731b.firebaseio.com",
   projectId: "f-2-b-4731b",
   storageBucket: "f-2-b-4731b.appspot.com",
   messagingSenderId: "136118267167",
   appId: "1:136118267167:web:b52c04db39a9f0260c942a",
   measurementId: "G-M40EJH4SLH"
 };
 // Initialize Firebase
 firebase.initializeApp(firebaseConfig);
 firebase.analytics();



 var ref = firebase.firestore();

 let id;

 // var button = document.getElementById("btn");
 // button.addEventListener("click", function (){
 //   console.log("in Call Back");
 //   pushData();
 // });

  function generateID(){
    ref.collection('Other').doc("OrderNumber")
    .get()
    .then(querySnapshot=>{
      id = querySnapshot.data().deliveryBoyCode;
      let number = id.substring(5);
      number = Number.parseInt(number);
      number++;
      number = ("0000" + number).slice(-4);
      value = "F2BDB" + number;
      console.log(number);
      console.log(value);
      id = value;
      document.getElementById("batch").value = value;
    })
 }

 function changeNumber(){
  //console.log("id in changeNumber->" + id);
  firebase.firestore().collection("Other").doc("OrderNumber")
           .update({
            deliveryBoyCode : id
           }).then(enoOndu=>{
            console.log("Success.....");
           alert("The data added successfully..");
           location.reload();
           })
           .catch(function(err){
            console.log(err);
           })
 }

 function putData(uid){

  var data = {
            firstName : document.getElementById("firstName").value,
            lastName :  document.getElementById("lastName").value,
            phoneNumber : document.getElementById("phone").value,
            email : document.getElementById("email").value,
            uId : uid    
          }

          //console.log('inside putdata');
      let id = document.getElementById("batch").value;
       console.log('id->' + id)
       console.log('data->' + data)

      firebase.firestore()
       .collection("DeliveryBoy")
       .doc(id)
       .set(data)
       .then(function (doc){

          changeNumber();
          
       })
       .catch(function(error){
           console.log("Hyy something went wrong " + error);
       });
      
       
}


async function pushData(){

   console.log("In pushData");

   let email = document.getElementById("email").value;
   let phoneNumber = document.getElementById("phone").value;

   let Uid;

   await firebase.auth().createUserWithEmailAndPassword(email, phoneNumber)
    .then(authResult=>{
          Uid = authResult.user.uid; 
    })

    putData(Uid);

}


</script>

      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


  </body>
</html>